.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ccc;
    height: 50px;
    align-items: center;
    margin: 0;
}

.nav-item {
    list-style-type: none;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: green;
    font-weight: 700;
}