.photos-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.photo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    margin: 15px;
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 0px 0px #ccc;
}

.photo-title {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 5px 0;
    padding: 5px 0;
}

.photo-item-img {
    min-height: 150px;
}

button {
    display: inline-block;
    border: none;
    padding: 15px 30px;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: #0053ba;
}
